.chart {
  max-height: 600px !important;
  max-width: 100% !important;
  margin: 0 auto;
}

@media screen and (min-width: 1200px) {
  .chart {
    max-height: 600px !important;
    max-width: 85% !important;
    margin: 10px auto;
  }
}
