* {
  box-sizing: border-box;
}

.homeInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconDiv {
  display: flex;
  align-items: center;
}

.weatherIcon {
  width: 300px;
}

.homeInfoPart1 {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.homeInfoPart1Spec {
  display: flex;
  flex-direction: column-reverse;
  font-size: 20px;
}
.homeInfoPart2 {
  display: flex;
  flex-direction: column;
  text-align: end;
}

@media screen and (max-width: 480px) {
  .homeInfo {
    display: flex;
    flex-direction: column-reverse;
  }
  .iconDiv {
    display: flex;
    flex-direction: column;
  }
  .weatherIcon {
    width: 200px;
  }

  .homeInfoPart1 {
    display: flex;
    flex-direction: column;
  }

  .homeInfoPart1Spec {
    display: flex;
    flex-direction: row;
    font-size: 16px;
    gap: 10px;
  }
  .homeInfoPart2 {
    text-align: center;
  }

  .locationName {
    text-align: center;
  }
}

@media screen and (min-width: 1000px) {
  .homeInfoPart1 {
    width: 66%;
    justify-content: space-between;
  }

  .weatherIcon {
    width: 250px;
  }
}
